.button_icon{
  i{
    margin-right: 10px;
  }
}

.form-style{
  margin: 15px 0;
}

.mr-10{
  margin-right: 10px;
}

.mtop-5{
  margin-top: 5px;
}

.mt-15{
  margin-top: 15px;
}

.mb-15{
  margin-bottom: 15px;
}

.error{
  color: #dc3545;
  font-size: 12px;
  margin-top: 5px;
}

.error-option{
  width: 100%;
  display: block;
}

.input-group-option{
  .field_with_errors{
    flex: 1;
  }
}

.field_with_errors{
  label{
    color: #dc3545;
  }

  input, textarea {
    border-color: #dc3545;
  }
}

.btn-remove{
  a{
    @extend .btn;
    @extend .btn-light;
    &:before{
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f1f8";
      margin-right: 10px;
    }
  }
}

.btn-remove-q{
  margin-top: 6px;
}

.remove-bg{
  background-color: #fff;
  border: none;
}

.add-question-btn{
  display: none;
}



.add-option-btn{
  a{
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    &:before{
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f067";
      margin-right: 10px;
    }
  }
}

.question-nested-fields{
  margin: 60px auto;
}